@model Repozytorium.Models.Bledy

@{
    ViewBag.Title = "Szczegoly";
}

<h2>Szczegoly</h2>

<div>
    <h4>Bledy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UzytkownikId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UzytkownikId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrescBledu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrescBledu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDodania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDodania)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy", "MojeBledy", null,new { @class = "btn btn-info"})
</p>
